
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: radial-gradient(circle at center, #ffffff 0%, #eef1f5 60%, #e3e7ee 100%);
        }
      
        

        .container {
            width: 550px;
            max-width: 600px;
            max-height: 1000px;
            text-align: center;
            padding: 80px 30px 80px 50px;
            background: #ffffff;
            border-radius: 350px;
        
            box-shadow:
            -25px -20px 45px rgba(147, 197, 253, 0.55), 
             -40px -35px 70px rgba(244, 114, 182, 0.35); 
 
          

        }

        .logo {
            font-size: 30px;
            margin-bottom: 15px;
            width:400px;
        }

        h1 {
            font-size: 22px;
            font-weight: 600;
            color: #111827;
            margin-bottom: 10px;
        }

        p.subtitle {
            font-size: 14px;
            color: #6b7280;
            line-height: 1.6;
            margin-bottom: 25px;
        }

        .btn {
            width: 350px;
            padding: 12px;
            margin-bottom: 12px;
            border-radius: 8px;
            border: 1px solid #e5e7eb;
            background: #ffffff;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.2s ease;
        }

        .btn:hover {
            background: #f9fafb;
        }

        .btn img {
            width: 18px;
            vertical-align: middle;
            margin-right: 8px;
        }

        .divider {
            margin: 18px 0;
            font-size: 13px;
            color: #6b7280;
        }

        .divider a {
            color: #2563eb;
            text-decoration: none;
            font-weight: 500;
        }

        .terms {
            font-size: 12px;
            color: #6b7280;
            margin-top: 20px;
            line-height: 1.5;
        }

        .terms a {
            color: #2563eb;
            text-decoration: none;
        }

        .signin {
            margin-top: 18px;
            font-size: 13px;
            color: #374151;
        }

        .signin a {
            color: #2563eb;
            font-weight: 500;
            text-decoration: none;
           
        }
    